* {
    font-family: 'Roboto', serif;
}

.navbar span {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 24px;
}

#map {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

#bar {
    width: 100%;
}

#svg {
    width: 32px;
    height: 32px;
}

.header-font {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 24px;
}

.aText {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-anchor: middle;
}

.active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive:hover {
    fill: #000;
    cursor: pointer;
}


/* font size dependent on radius, see app.js */

.nText {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    fill: #fff;
    text-anchor: middle;
}

.nCircle {
    fill: #55c7c1;
    stroke: #e3e3e3;
}

.nCircle:hover {
    stroke: #275a57;
    stroke-width: 1px;
    ;
}

.d3-tip {
    position: absolute;
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}